:root {
  --black: #1f1f1f;
  --white: #ebe4e4;
  --outline: rgba(6, 187, 0, .7);
  --text: #fdf7f7;
  --text-opacity: rgba(253, 247, 247, .5);
  --purple-gradient1: rgb(100, 7, 100);
  --purple-gradient2: rgb(87, 9, 87);
  --purple-gradient3: rgb(68, 1, 68);
  --green-hover1: rgb(12, 139, 12);
  --green-hover2: rgb(3, 75, 3);
  --blue-hover1: rgb(89, 113, 248);
  --blue-hover2: rgb(46, 46, 189);
  --orange-hover1: rgb(223, 149, 13);
  --orange-hover2: rgb(233, 119, 43);
  --dark-blue-hover1: rgb(47, 47, 241);
  --dark-blue-hover2: rgb(19, 4, 156);
  --yellow-hover1: rgb(172, 172, 4);
  --yellow-hover2: rgb(150, 147, 4);
  --red-hover1: rgb(172, 38, 4);
  --red-hover2: rgb(150, 9, 4);
}

html {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
}

body * {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  font-size: 1rem;
  line-height: 1.4;
  color: var(--text);
  background-color: var(--black);
  background-color: rgba(0, 0, 0, .3);
  background-image: url('https://source.unsplash.com/random/6000x3376/?programming');
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-size: cover;
}

* {
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale;
}

button {
  font-family: inherit;
  font-size: inherit;
}

a {
  color: inherit;
}

img {
  width: 100%;
}

h1,
h2 {
  font-weight: 400;
  letter-spacing: .125rem;
  /* 2px */
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--purple-gradient1) transparent;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--purple-gradient1);
  border-radius: 20px;
}

.container,
.container header {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: min(100%, 390px);
  max-width: 600px;
}

footer,
.jobs,
.container header {
  width: 100%;
  border-radius: 1rem;
  padding: 1rem;
  background-color: var(--black);
}

.container {
  padding: 2rem 0;
  margin: 0 auto;
}

.img-wrapper {
  outline: 4px solid var(--outline);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  overflow: hidden;
}

.title,
.infos,
.jobs,
.job,
.job-content,
.tags {
  margin-top: 1rem;
}

.title {
  font-size: 1.75rem;
  /* 28px */
}

.subtitle {
  font-size: 1.5rem;
  /* 24px */
}

.at {
  margin-bottom: 0.5rem;
  font-size: .875rem;
  /* 14px */
  color: var(--text-opacity);
}

.github-icon {
  font-size: 1.5rem;
}

.mail,
.infos {
  text-align: center;
  font-style: normal;
}

.infos h3 {
  font-weight: 400;
}

.tags {
  display: flex;
  gap: .5rem;
  justify-content: center;
}

.tags li {
  border-radius: .5rem;
  padding: .5rem;
  list-style: none;
  width: 5rem;
  font-weight: bold;
}

.jobs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button-collapse {
  border: none;
  border-radius: .125rem;
  /* 2px */
  padding: 0.3125rem;
  /* 5px */
  color: var(--text);
  cursor: pointer;
}

.job {
  position: relative;
  border-radius: .5rem;
  padding: 1rem;
  width: min(500px, 95%);
  text-align: center;
  cursor: pointer;
}

.job h3 {
  display: inline-block;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

.job-content {
  max-height: 0;
  max-width: 600px;
  overflow: hidden;
  transition: max-height .2s ease-out;
}

.job-content ul {
  margin-top: 1rem;
  padding-left: 1rem;
  text-align: left;
}

.job::after {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.3125rem;
  /* 5px */
  content: '\02795';
  font-size: 0.75rem;
  /* 12px */
  border-radius: 50%;
  background-color: var(--black);
}

.job-active::after {
  content: "\2796";
  color: var(--text);
}

.tooltip {
  visibility: hidden;
  position: absolute;
  bottom: 100%;
  right: 0;
  border-radius: 0.125rem;
  padding: 0.125rem 0.5rem;
  /* 2px 4px */
  color: var(--black);
  background-color: var(--white);
}

.tooltip::after {
  position: absolute;
  top: 100%;
  right: 5%;
  content: '';
  border-width: 5px;
  border-style: solid;
  border-color: var(--white) transparent transparent transparent;
  z-index: 1;
}

.gradient {
  background-image: linear-gradient(to top left, var(--purple-gradient1), var(--purple-gradient2), var(--purple-gradient3));
}

.green-hover:hover>.tooltip,
.blue-hover:hover>.tooltip,
.orange-hover:hover>.tooltip,
.dark-blue-hover:hover>.tooltip,
.yellow-hover:hover>.tooltip {
  visibility: visible;
}

.green-background,
.green-hover:hover {
  background-image: none;
  background-color: var(--green-hover1);
  background-image: linear-gradient(var(--green-hover1), var(--green-hover2));
}

.blue-background,
.blue-hover:hover {
  background-image: none;
  background-color: var(--blue-hover1);
  background-image: linear-gradient(var(--blue-hover1), var(--blue-hover2));
}

.orange-background,
.orange-hover:hover {
  background-image: none;
  background-color: var(--orange-hover1);
  background-image: linear-gradient(var(--orange-hover1), var(--orange-hover2));
}

.dark-blue-background,
.dark-blue-hover:hover {
  background-image: none;
  background-color: var(--dark-blue-hover1);
  background-image: linear-gradient(var(--dark-blue-hover1), var(--dark-blue-hover2));
}

.yellow-background,
.yellow-hover:hover {
  background-image: none;
  background-color: var(--yellow-hover1);
  background-image: linear-gradient(var(--yellow-hover1), var(--yellow-hover2));
}

.red-background,
.red-hover:hover {
  background-image: none;
  background-color: var(--red-hover1);
  background-image: linear-gradient(var(--red-hover1), var(--red-hover2));
}

footer {
  border-radius: 0;
  text-align: center;
  font-size: .75rem;
}

@media screen and (max-width: 400px) {
  body {
    background-color: var(--black);
    background-image: none;
  }
}